a, a:hover, a:focus, a:active {
     text-decoration: none;
     color: inherit;
}
menu{
	position: fixed;
	left: 0.5%;
	font-size: 150%;
	background-color: gray;
}
body{
	position: absolute;
	left: 5%;
}
