body{
 background: linear-gradient(to bottom, #ffffff, #ffb5f1);
 background-attachment: fixed;
}
a, a:hover, a:focus, a:active {
     text-decoration: none;
     color: inherit;
 }
#menu {
	position: fixed;
	left: 3%;
	top: 3%;
	font-size: 150%;
	background-color: white;
}
