a, a:hover, a:focus, a:active {
     text-decoration: none;
     color: inherit;
}
menu{
	position: fixed;
	left: 0.2%;
	font-size: 150%;
	background-color: white;
	padding-bottom: 50%;
	padding-top: 0.5%;
	padding-right: 4px;
	padding-left: 4px;
}
body{
	margin-left: 240px;
}
